* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
body {
  overflow: hidden;
}
#div1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}